*
{
  margin: 0;
  padding: 0;
}

body
{background-color: #dfe3ee;
  color: grey;
  width:auto;

  overflow: hidden;
}



#block
{
 text-align: center;

  color: white;
  background-color: #3b5998;
  padding: 2%;
  margin: 0;
  position:30px;


  transform: translateX(-40%);
  width:415%;
}

#abc
{
  color: black;

  transform: translateX(10%);

}


#right
{

  color: black;
  top:50%;
  transform: translateX(60%);

}
input{
  padding: 8px;
  display: inline;
}


#name
{
  text-align: left;
display:inline-block;
  padding:10px;
  margin: auto;
  position: absolute;

  top:25%;
  transform: translateX(490%);
  width: 10%;
}

#name1
{
  text-align: left;
  display:inline-block;
  padding:10px;
  margin: auto;
  position: absolute;

  top:25%;
  transform: translateX(490%);
width: 10%;
}
 #bday
 {   position: absolute;
    color: black;
   top:60%;
   transform: translateX(1385%);

 }

 #date
 {
   position: absolute;
   top:66%;
   transform: translateX(440%);
 }



#right1
{
 position: absolute;
  color: blue;
  top:66%;
  transform: translateX(450%);
}


#login
{ display: inline;
  position: absolute;
  top:2%;
  color:white;
  transform: translateX(760%);
}

input{
padding:0px;
}

#spaces
{

  position: absolute;
  padding: 2%;
  top:0%;
  color: white;
  transform: translateX(1500%);
  width:0%;
}


#login1
{
  position: absolute;
  top:2%;

  color:white;
  transform: translateX(1610%);
}


#line
{
  position: absolute;
  color:black;
  top:77%;
  transform: translateX(180%);
}

input
{
padding: 5%;
}


#account
{ text-align: left;
  background-color: green;
  color:black;
  padding: 1;
  margin: auto;
  display: inline-block;
  position: absolute;

  top:88%;
  transform: translateX(440%);
  width: 13%;






}


#lastline
{
  position: absolute;
  color: inherit;
  top:94%;
  transform: translateX(290%);
}

.inline
{
  display: inline;

}

#spaces{
  float:right;
  color: white;
 margin-top: 15px;
}


#spaces1{
  float: right;
  color: white;
top: 15%;
}


#facebook-Bar {
	background:#45619D;
	border-bottom: 1px solid #0053A6;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.52);
	min-width: 1000px;
	width: 100%;
	z-index: 1000;
}
#facebook-Frame {
	margin-left:auto;
	margin-right:auto;
	max-width:1000px;
	height:70px;
	display:block;
}
/*-------LOGO-----------*/
#logo {
	float: left;
	height: 70px;
	position: relative;
	width: 160px;
}
#logo a {
	position: absolute;
	top: 20px;
	font-size:23px; font-weight:bold; color:#FFF;
	text-decoration:none;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/*-------Login-----------*/
#header-main-right {
	float: right;
	height: 68px;
	position: relative;
	top:5px;
}
#header-main-right-nav {
	padding: 4px 6px 4px 4px;
	position: absolute;
	right: 0;
}
